/* -------------- global --------------  */
/*  ---------------------------------------------------------------------------------------------------------------------  */
body {
  font-family: sans-serif;
  background-color: white;
  margin: 0;
  transition: .2s;
}

a {
  text-decoration: none;
  color: black
}

a:hover {
  text-decoration: underline;
  color: #99C1B0
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h3 {
  color: #242423;
}

#copy {
  z-index: -5;
  bottom: 4px;
  position: absolute;
  font-size: .8rem;
  color: #242423;
}

#title {
  font-family: "HelveticaNeue";
  font-weight: bold;
  font-size: 2rem;
  margin-top: 2rem;
  color: #242423;
  transition: .5s;
}

.hidden {
  opacity: 0;
  transform: translate3d(0px, 18px, 0)
}

.hiddenV2 {
  opacity: 0;
  transform: translate3d(18px, 0px, 0);
}

.viewport-login {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: gray
}

.loginsignup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -------------- MAIN PAGE --------------  */
/*  ---------------------------------------------------------------------------------------------------------------------  */


.viewport {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  overflow: hidden;
  position:fixed;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.viewport-projects {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
}

#name-tag {
  display: flex;
  flex-direction: column;
  transition: 1s;
}

#name {
  font-family: "HelveticaNeue";
  letter-spacing: -.04em;
  font-weight: bold;
  align-self: center;
  font-size: 4.5rem;
  color: #242423;
  position: relative;
  transition: .4s ;
}

#name.active {
  opacity: 1;
  color: white;
}

.icons {
  max-height: 22px;
  margin-left: 10px;
}

.icons:hover {
  /* -webkit-filter: drop-shadow(0px 5px 3px lightgray);
 filter: drop-shadow(0px 5px 3px lightgray); */
}

#tag-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
  transition: .5s;
}

#occupation {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: #242423;
}

#picContainer {
  width: 446px;
  transition: .5s;
}

#profilepic {
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-self: center;
  transition: .2s;
  opacity: 1;
}

#profilepic.hover {
  opacity: 0;
  display: flex;
  align-self: center;
}

#profilepic.active {
  opacity: 0;
}

#headshot {
  max-width: 130px;
  float: left;
  margin-right: 1rem;
}

#aboutNav {
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  z-index: -1;
  width: 446px;
  text-align: center;
  position: absolute;
  font-size: 1.5rem;
  opacity: 0;
  transition: 1s;
}

#aboutNav.active {
  opacity: 1  ;
}

.divider {
  width: 446px;
  height: 2px;
  margin-top: .3rem;
  margin-bottom: .3rem;
  background-color: black;
}

#aboutme {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  color: #242423;
}

#aboutText {
  font-family: 'Open Sans', sans-serif;
  white-space: pre-line;
}

#about-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 446px;
  height: 0px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: height .5s ease;
}

#about-container.active {
  height: 500px;
}

/* ------------ projects page ------------ */
/*  ---------------------------------------------------------------------------------------------------------------------  */

.project-title {
  font-family: "HelveticaNeue";
  color: #242423;
  margin-bottom: .4rem;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: bold;
}

.panelButton {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-self: center;
  align-content: center;
  /* position: absolute;
  z-index: -1;
  margin-top: 1rem;
  margin-left: 10rem;
  width: 100vw; */
  transition: .1s;
}

.panelButton:hover {
  text-decoration: underline;
  cursor: pointer;
  color: gray;
}

.panelButton.active {
  /* z-index: 4  ; */
}

.projectInformationDropdown {
  /* display: flex;
  justify-content: flex-start;
  flex-direction: column; */
  overflow-y: scroll;
  height: 0px;
  width: 869px;
  transition: .2s;
  white-space: pre-line;
  color: black;
  background-color: white;
  /* pointer-events: fill; */
}

.projectInformationDropdown.active {
  height: 150px;
  border-bottom-style: dotted;
  border-bottom-width: thin;
  border-bottom-color: black;
}

.project-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: .5s;
}

.project-card {
  cursor: pointer;
  max-height: 100px;
  transition: .2s ease;
  z-index: 4;
}

.project-card:hover {
  opacity: .4;
}

.date-link-display {
  font-family: 'Open Sans', sans-serif;
  color: black;
  display: flex;
  justify-content: center;
  background-color: rgba(214,214,214,1);
  width: 100%;
}

.project-item {
  margin-left: 1rem;
  margin-right: 1rem;
}

.textarea {
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  margin-left: .3rem;
  margin-top: .2rem;
}

.selected {
  opacity: .4;
}

.disabled {
  opacity: .4;
  /* -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px); */
}



/* ------------ NAV ------------ */
/*  ---------------------------------------------------------------------------------------------------------------------  */

#nav-row {
  display: flex;
  justify-content: space-around;
  transition: .5s;
}

.Nav-Item {
  font-family: "HelveticaNeue";
  color: #242423;
  margin-top: .5rem;
  font-weight: bold;
  transition: .1s;
}

.Nav-Item:hover {
  cursor: pointer;
  color: white;
  text-shadow: 1px 2px 10px gray;
}

.Nav-Bottom {
  display: flex;
  margin-bottom: 2rem;
  flex-direction: column;
  height: 100vh;
  justify-content: flex-end;
  /* bottom: 40px; */
  /* position: absolute; */
  color: #242423;
}



/* ------------ project manager ------------ */
/*  ---------------------------------------------------------------------------------------------------------------------  */

.pm-list-item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.project-list {
  margin-top: 2rem;
  width: 70vw;
}

.project-form {
  margin-top: 2rem;
  width: 50%;
}



/* ------------ breakpoint 1 695px ------------ */
/*  ---------------------------------------------------------------------------------------------------------------------  */
@media only screen and (max-height: 695px){

  #aboutText {
    font-size: .9rem;
  }

  #about-container.active {
    height: 400px;
  }

  #aboutNav.active {
    opacity: 1  ;
  }

}

/* ------------ breakpoint 2 620px ------------ */
/*  ---------------------------------------------------------------------------------------------------------------------  */
@media only screen and (max-height: 620px){

  #name {
    font-size: 3rem;
  }

  #profilepic {
    max-width: 300px;
  }

  #picContainer {
    display: flex;
    width: 446px;
    transition: .5s;
    justify-content: center;
  }

  #occupation {
    font-size: .65rem;
  }

  #name-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
  }

  .icons {
    max-height: 15px
  }

  #nav-row {
    display: none;
  }

  #aboutText {
    font-size: .7rem;
  }


  #aboutNav {
    font-size: .9rem;
    opacity: 1  ;
  }

}


/* ------------ breakpoint 3 iphone 375px ------------ */
/*  ---------------------------------------------------------------------------------------------------------------------  */
@media only screen and (max-width: 600px){

  #name {
    font-size: 3rem;
  }

  #profilepic {
    max-width: 300px;
  }

  #picContainer {
    display: flex;
    width: 446px;
    transition: .5s;
    justify-content: center;
  }

  #occupation {
    font-size: .65rem;
  }

  #name-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
  }

  #about-container {
    width: 80%;
  }

  .active {
    width: 70%;
  }

  .icons {
    max-height: 15px
  }

  #nav-row {
    display: none;
  }

  #aboutText {
    font-size: .7rem;
  }

  #about-container.active {
    height: 400px;
  }

  #aboutNav {
    font-size: .9rem;
    opacity: 1  ;
  }

}



/*  ---------------------------------------------------------------------------------------------------------------------  */
/*  =========== video frame ============
.landing-video-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  max-height: 100vh;
}

#video-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#video-text-overlay {
  font-family: "HelveticaNeue-CondensedBold";
  font-size: 12rem;
  color: black;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
}

*/
